* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    
}
canvas {
    background: #47a2ec;
    border: solid 1.5px #313;
    border-radius: .2rem;
}